.logo {
  position: absolute;
  width: 250px;
  height: 75px;
  margin-top: 2em;
  margin-left: 2em;
}

.everest {
  background-size: cover;
  width: auto;
  height: 100%;
}

.indextitle {
  position: absolute;
  font-family: "Noto Serif", serif;
  margin-left: 5rem;
  margin-block: -3.5em;
  font-size: 50px;
  color: #613913;
}
.outer {
  height: 84px;
  margin-left: 100px;
}

.team_list ul li a {
  margin: 0 auto;
  font-size: 20px;
  font-family: "Noto Serif", serif;
  text-decoration: none;
  list-style: none;
  color: #613913;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  position: relative;
  max-width: 10% !important;
}

.team_list ul li a {
  list-style: none;
  padding-top: 20px;
}
.team_list ul li {
  display: inline-block;
}

.text {
  margin-top: -10rem;
  color: #613913;
  font-size: 45px;
}

.list {
  text-align: center;
  background-color: #82d2f0;
}

.title {
  margin-left: 50px;
}
